/* ----------------------------------
 * Grids
 * ---------------------------------- */

[data-type="grid"] {
  font-family: "MozTT", "Moz", Sans-serif;
  font-weight: 400;
  text-align: center;
}

[data-type="grid"] ul {
  list-style: none;
  display: block;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  column-gap: 0;
    -moz-column-gap: 0;
}

@media (min-width: 1000px) {
  [data-type="grid"] ul {
    column-count: 10;
      -moz-column-count: 10;
  }
}

@media (max-width: 1000px) {
  [data-type="grid"] ul {
    column-count: 8;
      -moz-column-count: 8;
  }
}

@media (max-width: 800px) {
  [data-type="grid"] ul {
    column-count: 6;
      -moz-column-count: 6;
  }
}

@media (max-width: 600px) {
  [data-type="grid"] ul {
    column-count: 4;
      -moz-column-count: 4;
  }
}

@media (max-width: 400px) {
  [data-type="grid"] ul {
    column-count: 2;
      -moz-column-count: 2;
  }
}

@media (max-width: 200px) {
  [data-type="grid"] ul {
    column-count: 1;
      -moz-column-count: 1;
  }
}

[data-type="grid"] strong {
  font-weight: 500;
}

/* Title divisors */
[data-type="grid"] header {
  border-bottom: 0.1rem solid #aeaeae;
  padding: 0.5rem 1rem;
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: normal;
  color: #ff4E00;
  text-transform: uppercase;
}


/* Grid items */
[data-type="grid"] li {
  height: 12rem;
  width: 100% !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  border-bottom: solid 1px #aeaeae; 
  border-right: solid 1px #aeaeae; 
  background: #dfdfdf;
  color: #2c2c2c;
  margin: 0;
}

[data-type="grid"] li:not(.editMode):active {
  background: rgba(0,0,0,.2);
}


/* File grid items */
[data-type="grid"] li.file-list-item {
  position: relative;
  overflow: hidden;
}

[data-type="grid"] li.file-list-item .editDrawer {
  display: block;
  height: 4rem;
  width: 100%;
  background: #aeaeae;
  position: absolute;
  bottom: 0;
    -moz-transform: translateY(100%);
  transform: translateY(100%);
    -moz-transition: -moz-transform .2s;
  transition: transform .2s;
}

[data-type="grid"] li.file-list-item.editMode .editDrawer {
    -moz-transform: none;
  transform: none;
}

[data-type="grid"] li.file-list-item .editDrawer [data-icon] {
  width: 4rem;
  height: 100%;
  display: inline-block;
  background-size: 3rem;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
    -moz-transition: background-color .2s;
  transition: background-color .2s;
}

[data-type="grid"] li.file-list-item .editDrawer [data-icon]:active {
  background-color: #ccc;
}

[data-type="grid"] li.file-list-item div {
  padding: 0;
  margin: 0;
  height: auto;
  text-decoration: none;
  color: black;
}

[data-type="grid"] li.file-list-item > div > p,
[data-type="grid"] li.file-list-item > div > div {
  padding: 1rem 2rem;
}

[data-type="grid"] li.file-list-item.editMode > div > p,
[data-type="grid"] li.file-list-item.editMode > div > div {
  padding: 1rem 1rem;
}

[data-type="grid"] li.file-list-item .file-item-edit {
  display: none;
  width: 100%;
  height: calc(100% - 4rem);
  border: none;
  text-align: center;
    -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  margin: 1rem 0;
  padding: .5rem;
  font-size: 2rem;
}

[data-type="grid"] li.file-list-item.editMode .file-item-edit {
  display: block;
}

[data-type="grid"] li.file-list-item.editMode .file-item-name,
[data-type="grid"] li.file-list-item.editMode .file-item-extension,
[data-type="grid"] li.file-list-item.editMode .file-item-path {
  display: none;
}

[data-type="grid"] li.file-list-item .file-item-name {
  font-size: 1.8rem;
  color: #2c2c2c;
  font-weight: bold;
  margin: 1rem 0 0;
  max-width: 100%;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}

[data-type="grid"] li.file-list-item .file-item-extension {
  font-size: 1.4rem;
  color: #2c2c2c;
  max-width: 100%;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}

[data-type="grid"] li.file-list-item .file-item-path {
  display: none;
}

[data-type="grid"] li.file-list-item aside.file-item-icon {
  height: 5rem;
  width: 100%;
  background-size: contain;
    -moz-transition: height .2s;
  transition: height .2s;
}

[data-type="grid"] li.file-list-item.editMode aside.file-item-icon {
  height: 1.5rem;
}
