/* UI Icons */
[data-icon="back"] {
  background-image: url(../img/misc/back.svg);
  background-size: 1rem !important;
}

[data-icon="close"] {
  background-image: url(../img/misc/close.svg);
  background-size: 1.8rem !important;
}

[data-icon="grid"] {
  background-image: url(../img/misc/grid.svg);
}

[data-icon="list"] {
  background-image: url(../img/misc/list.svg);
}


/* File Icons */
.file-item-icon {
  width: 4rem;
  background-size: 4rem;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 5px;
  pointer-events: none;
}

[data-icon="folder"] {
  background-image: url(../img/extensions/folder.svg);
}

[data-icon="file"] {
  background-image: url(../img/extensions/file.svg);
}
