/* Icons */
@font-face {
	font-family: 'Prospector';
	src:url('fonts/Prospector.eot');
	src:url('fonts/Prospector.eot?#iefix') format('embedded-opentype'),
		url('fonts/Prospector.woff') format('woff'),
		url('fonts/Prospector.ttf') format('truetype'),
		url('fonts/Prospector.svg#Prospector') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'Prospector' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-remove:before {
	content: "\e600";
}
.icon-checkmark:before {
	content: "\e603";
}
.icon-grid:before {
	content: "\e602";
}
.icon-list:before {
	content: "\e604";
}
.icon-folder:before {
	content: "\e605";
}
.icon-menu:before {
	content: "\e601";
}
.icon-back:before {
	content: "\e606";
}
.icon-close:before {
	content: "\e607";
}
.icon-file:before {
	content: "\e608";
}
.icon-add:before {
	content: "\e609";
}
